/*
a,
a:focus,
a:hover {
  color: ivory;
}

html,
body {
  height: 100%;
  !*background-color: #333;*!
  background-color:  darkslategray;
}
body {
  color: ivory;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
*/

body {
    padding: 0 15px;
}

pre {
    padding-left: 15px;
    font-family: monospace;
}